///////////////////////////////////////////////////////////////////////////////
// Copyright (c) 2026 SuperCode Studios
// https://scstudios.tech
// SplitCodeBoard Version 1.0.0
// Licence: GNU Affero General Public License v3.0 only (AGPL-3.0-only)
// SPDX-License-Identifier: AGPL-3.0-only
// Maintainer: SuperCode Studios
///////////////////////////////////////////////////////////////////////////////

// See https://zmk.dev/docs/development/hardware-integration/physical-layouts
// for how to configure this.

#include <physical_layouts.dtsi>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan>;

        // Edit this to define the positions and sizes of the keys, or remove it
        // if your keyboard will not support ZMK Studio.
        // https://zmk.dev/docs/development/hardware-integration/physical-layouts#optional-keys-property
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            ;
    };
};
