# SplitCodeBoard defaults

if BOARD_SPLITCODEBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "SplitCodeBoard"

# set left side to central
config ZMK_SPLIT_ROLE_CENTRAL
    default y

# enable split and ble transport
config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

config ZMK_SPLIT_BLE
    default y

# triple split central and 2 peripherals
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

# ble only build
config ZMK_USB
    default n

endif # BOARD_SPLITCODEBOARD_LEFT

if BOARD_SPLITCODEBOARD_LEFT || BOARD_SPLITCODEBOARD_RIGHT || BOARD_SPLITCODEBOARD_MACROPAD

# keep ble enabled on all
config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

config ZMK_SPLIT_BLE
    default y

#ble only on all
config ZMK_USB
    default n

endif # BOARD_SPLITCODEBOARD_LEFT || BOARD_SPLITCODEBOARD_RIGHT || BOARD_SPLITCODEBOARD_MACROPAD