///////////////////////////////////////////////////////////////////////////////
// Copyright (c) 2026 SuperCode Studios
// https://scstudios.tech
// SplitCodeBoard Version 1.0.0
// Licence: GNU Affero General Public License v3.0 only (AGPL-3.0-only)
// SPDX-License-Identifier: AGPL-3.0-only
// Maintainer: SuperCode Studios
///////////////////////////////////////////////////////////////////////////////

// SplitCodeBoard macropad sibling overlay

#include "splitcodeboard.dtsi"

&kscan {
    rows = <2>;
    columns = <3>;
};

&kscan_matrix {
    row-gpios
        = <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;

    col-gpios
        = <&gpio1 15 GPIO_ACTIVE_HIGH>
        , <&gpio1 14 GPIO_ACTIVE_HIGH>
        , <&gpio1 13 GPIO_ACTIVE_HIGH>
        ;
};

&default_transform {
    rows = <2>;
    columns = <3>;
    map = <
        RC(0,0) RC(0,1) RC(0,2)
        RC(1,0) RC(1,1) RC(1,2)
    >;
};

&i2c0 {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb"
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        prechargep = <0x22>;
        com-invdir;
    };
};

&{/chosen} {
    zmk,display = &oled;
};